---

---

{/* Light mode gradient */}
<div
    class="fixed inset-0 pointer-events-none z-0 opacity-100 dark:opacity-0 transition-opacity duration-300"
>
    {/* Base gradient overlay */}
    <div
        class="absolute inset-0 bg-gradient-to-br from-indigo-50/40 via-purple-50/30 to-cyan-50/40"
    >
    </div>

    {/* Top orbs */}
    <div
        class="absolute -top-20 -left-20 w-96 h-96 bg-[#7f73ff]/20 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute top-10 left-1/4 w-80 h-80 bg-[#35e2c3]/15 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute -top-32 left-1/2 w-96 h-96 bg-[#14d0f0]/20 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute top-20 right-1/4 w-72 h-72 bg-[#f093fb]/15 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute -top-20 -right-20 w-96 h-96 bg-[#4facfe]/20 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>

    {/* Middle left & right orbs */}
    <div
        class="absolute top-1/3 -left-32 w-80 h-80 bg-[#a8edea]/20 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute top-1/2 left-1/4 w-72 h-72 bg-[#fed6e3]/15 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute top-1/2 right-1/4 w-72 h-72 bg-[#fbc2eb]/15 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute top-1/3 -right-32 w-80 h-80 bg-[#a6c1ee]/20 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>

    {/* Bottom orbs */}
    <div
        class="absolute -bottom-20 -left-20 w-96 h-96 bg-[#f093fb]/20 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute bottom-20 left-1/3 w-80 h-80 bg-[#14d0f0]/15 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute -bottom-32 left-1/2 w-96 h-96 bg-[#35e2c3]/20 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute bottom-10 right-1/3 w-72 h-72 bg-[#7f73ff]/15 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
    <div
        class="absolute -bottom-20 -right-20 w-96 h-96 bg-[#a8edea]/20 rounded-full blur-3xl mix-blend-multiply"
    >
    </div>
</div>

 {/* Dark mode gradient */}
 <div
     class="fixed inset-0 pointer-events-none z-0 opacity-0 dark:opacity-100 transition-opacity duration-300"
 >
     {/* Top orbs - darker tones */}
     <div
         class="absolute -top-20 -left-20 w-96 h-96 bg-[#5a4fcf]/15 rounded-full blur-3xl mix-blend-screen"
     >
     </div>
    <div
        class="absolute top-10 left-1/4 w-80 h-80 bg-[#2bb19a]/10 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute -top-32 left-1/2 w-96 h-96 bg-[#0ea5c7]/15 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute top-20 right-1/4 w-72 h-72 bg-[#c772d8]/10 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute -top-20 -right-20 w-96 h-96 bg-[#3a89d4]/15 rounded-full blur-3xl mix-blend-screen"
    >
    </div>

    {/* Middle left & right orbs */}
    <div
        class="absolute top-1/3 -left-32 w-80 h-80 bg-[#7fc4c0]/15 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute top-1/2 left-1/4 w-72 h-72 bg-[#d8a5b8]/10 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute top-1/2 right-1/4 w-72 h-72 bg-[#d89ec4]/10 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute top-1/3 -right-32 w-80 h-80 bg-[#8298c8]/15 rounded-full blur-3xl mix-blend-screen"
    >
    </div>

    {/* Bottom orbs */}
    <div
        class="absolute -bottom-20 -left-20 w-96 h-96 bg-[#c772d8]/15 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute bottom-20 left-1/3 w-80 h-80 bg-[#0ea5c7]/10 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute -bottom-32 left-1/2 w-96 h-96 bg-[#2bb19a]/15 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute bottom-10 right-1/3 w-72 h-72 bg-[#5a4fcf]/10 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
    <div
        class="absolute -bottom-20 -right-20 w-96 h-96 bg-[#7fc4c0]/15 rounded-full blur-3xl mix-blend-screen"
    >
    </div>
</div>
